/* CSS general para toda la web */

/* Fuentes propias */
@font-face
{
    font-family: "robotoregular";
    font-weight: normal;
    font-style: normal;
    src: 
        local("robotoregular"),
        url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("../fonts/roboto-regular-webfont.woff") format("woff");

}

@font-face {
    font-family: "shrikhandregular";
    font-weight: normal;
    font-style: normal;
    src:
        local("shrikhandregular"),
        url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"),
        url("../fonts/shrikhand-regular-webfont.woff") format("woff");

}




html 
{
    background-color: #eeee;
    font-family: "robotoregular", sans-serif;
    font-size: 16px;
    color: black;
}


body 
{
    padding: 1.25rem 1.25rem 0em 1.25rem;
    height: 100vh;

}

/* Estructura Header */
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.titulo
{
    font-size: 2.15rem;
    font-family: "shrikhandregular";
}

.linea {
    border: 2px solid #d45500;
    height: 1px;
    margin-bottom: 1.5rem;

}

/* Footer fijo */
footer {

    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px;
}

.links
{
    display: flex;
    justify-content: space-around;
    align-items: center;

}


/* REdes Sociales */
.redesSociales
{
    font-size: 0.75rem;

}

/* Copyrigh */
h6 {
    font-size: 0.5rem;
    font-weight: bold;
}