/* CSS general para toda la web */

html 
{
    background-color: #eeee;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}


body 
{
    padding: 1.25rem 1.25rem 0em 1.25rem;
    height: 100vh;

}





.redesSociales
{
    font-size: 0.75rem;

}