/* CSS general para toda la web */

html 
{
    background-color: #eeee;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}


body 
{
    padding: 1.25rem 1.25rem 0em 1.25rem;
    height: 100vh;

}

/* Estructura Header */
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.titulo
{
    font-size: 2.15rem;
}

.linea {
    border: 2px solid #999999;
    height: 1px;
    margin-bottom: 1.5rem;

}




/* REdes Sociales */
.redesSociales
{
    font-size: 0.75rem;

}

/* Copyrigh */
h6 {
    font-size: 0.5rem;
    font-weight: bold;
}