/* CSS solo para la pagina index.html */

.promociones
{
    box-sizing: border-box;
    margin-bottom: 10px;
}

.row {
    display: flex;

}

.imagenSeccion, .textoSeccionDerecha, .textoSeccionIzquierda {
    width: 50%;
    margin: 1%;
    
    

}

/* Falta conversion a rem */
.imagenSeccion
{
    width: 140px;
    height: 140px;
    border: 3px solid #d45500;
    border-radius: 10px;
}


.informacion
{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

.contenidoLista
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}


.imagenAlargada
{
    border: 3px solid #d45500;
    border-radius: 10px;

}

.textoSeccionDerecha
{
    font-size: 0.75rem;
    text-align: right;

}

.textoSeccionIzquierda {
    font-size: 0.75rem;
    text-align: left;

}



