header
{
    display: flex;
    /* width: 100vw; */
    
}

div
{
    /* width: 100px; */
    height: 100px;
 
    /* contenido alineado */
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    border: 2px solid black;
    align-content: center;
    /* display: flex; */


}

.cuadrado1
{
    /* flex-shrink: 1; */
    flex-grow: 1;
    flex-basis: 100px;
}

.cuadrado3
{
    /* flex-shrink: 1; */
    flex-grow: 4;
    height: 200px;
    /* align-self: flex-start; */
}